html {
    font-family :  'Fredoka One', cursive;
}
/*#region Header*/
.main-header {
    top: 0;
    border-bottom: 1.7px solid #000;
    margin-left: 2em;
    margin-right: 2em;
}

.main-header,
.main-header-title {
    display: flex;
    align-items: center;
    flex-grow: 2;
}

.main-header-title {
    padding-right: 1em;
    font-size: 1.05em;
    color:#000;
}
.toplink{
    
    font-size: 1.0em;
    color:#000;
    
    text-decoration: none;
}

/*#region Nav*/
.burger-nav {
    display: flex;
    font-size: 0;
    visibility: hidden;
    opacity: 0;
}
.main-nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.main-tab {
    font-size: 1em;
    font-weight: 300;

    color: #000;

    margin-left: 4.5em;

    text-decoration: none;


    border-bottom: 6px solid transparent;
}

/*#endregion Nav*/
/*#endregion Header*/
/*#region Titres*/
h1 {
    font-weight: 200;
}

h2 {
    font-weight: 300;
}

h3 {
    font-size: 2em;
    font-weight: 300;
    color: #BDBDBD;
    margin-right: 7%;
    margin-left: 8%;
    margin-bottom: 2em;
}
.titre-page {
    margin-right: 40%;
    margin-left: 8%;
    font-size: 3.5em;
}
/*#endregion Titres*/
.main {
    margin-left: 10%;
    margin-bottom: 6em;
    display: flex;
}
.main-footer {
    bottom: 0;
    background-color: #333;
    color: #efefef;
    left: 0;
    right: 0;
    Padding: 1em
}

.main-tab a.router-link-exact-active {
    color: #BDBDBD;
}


.block2 {
    background-color: #000;
    color: #efefef;

    display: flex;
    flex-direction: column;
    align-items: center;

    font-size: 1.2em;

    padding: 2em;
    padding-left: 5em;
    padding-right: 5em;
}
/*#region Logos*/
.troisLogos {
    display: flex;
    justify-content: space-around;

    margin-top: 4em;
    margin-bottom: 4em;
    padding-left: 3em;
}

.logoEther {
    height: 9%;
    width: 9%;
}

.logoBtc,
.logoRip {
    height: 15%;
    width: 15%;
}
/*#endregion Logos*/
@media only screen and (max-device-width: 1024px) {
    /*#region BurgerButton*/
    .burger{
      width: 30px;
      height: 4px;
      position: absolute;
      right: 5%;
      background: #000000;
      border-radius: 5px;
      box-shadow: 0 2px 5px rgba(255,101,47,.2);
      transition: all .5s ease-in-out;    
    }
    .burger::before,
    .burger::after {
      content: '';
      position: absolute;
      width: 30px;
      height: 4px;
      background: #000000;
      border-radius: 5px;
      box-shadow: 0 2px 5px rgba(255,101,47,.2);
      transition: all .5s ease-in-out;
    }
    .burger::before {
      transform: translateY(-10px);
    }
    .burger::after {
      transform: translateY(10px);
    }
    /*#region AnimationBurgerButton*/
    .burger.active{
        transform: translateX(-50px);
        background: transparent;
        box-shadow: none;
      }
      .burger.active::before {
        transform: rotate(45deg) translate(35px, -35px);
        
      }
      .burger.active::after {
        transform: rotate(-45deg) translate(35px, 35px);
        
      }
      /*#endregion AnimationBurgerButton*/
      /*#endregion BurgerButton*/
    .main-nav {
        display: none;
    }

    /*#region NavigationBurger*/
    .burger-nav.active {
        flex-direction: column;
        background-color: white;
        align-items: center;
        font-size: 100%;
        visibility: visible;
        opacity: 1;
        transition: all 0.5s ease;
    }

    .burger-tab {
        font-size: 1em;
    font-weight: 300;
    color: #000;
    margin-left: 4.5em;
    text-decoration: none;
    border-bottom: 6px solid transparent;
    }
    
    .burger-tab.active {
        color: #BDBDBD;
    }
    /*#endregion NavigationBurger*/
}    
    
/*#region Cours*/
.cours {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.cours_gauche {
    display: flex;
    flex-direction: column;
    align-items: center;

    font-size: 3em;
    font-weight: 300;
    text-decoration: none;
    color: #000;
}

.cours_droite {
    display: flex;
    flex-direction: column;
    align-items: center;

    font-size: 3em;
    font-weight: 300;
    text-decoration: none;
    color: #000;
}
/*#endregion Cours*/
/*#region ImagesComprendre*/
.imgBlockchain {
    height: 45%;
    width: 45%;

    padding: 1.2em;
    padding-bottom: 0.5em;
}

.imgCryptocurrency {
    height: 60%;
    width: 60%;

    padding: 1.2em;
    border-bottom: 1em;
    padding-bottom: 0.5em;
}

.info-currency {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    border: 1px solid #494A45;
    border-bottom: 6px solid #494A45;
    margin: 2em;
    margin-right: 4em;
    border-radius: 1em;
}

.currency-name {
    margin-left: 1em;
    margin-right: auto;
    font-size: 1.5em;
    font-weight: 200;
    text-decoration: none;
    color:  #000;
}

.currency-price {
    font-size: 1.5em;
    font-weight: 200;
    text-decoration: none;
    color: #000;
}

.priceIncrease {
    margin-left: 5em;
    margin-right: 1em;
    font-size: 1.5em;
    font-weight: 100;
    text-decoration: none;
    color: #6C9D64;
}

.priceDecrease {
    margin-left: 5em;
    margin-right: 1em;
    font-size: 1.5em;
    font-weight: 200;
    text-decoration: none;
    color:#BB0014;
}
/*#endregion ImagesComprendre*/

/*#region Wallet*/
.wallet-block2 {
    display: flex;
    justify-content: space-around;

    margin-top: 500px;
}

.wallet-AchatRevente {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    background-color: #3E3E3E;
    padding: 5%;
    border: 6px solid #4D4D4F;
    border-radius: 2em;
    margin: 5%;
}

.cryptodispo {
    list-style: none;
    position: relative;
    top: 25%;
    color: white;
}

/*#endregion Wallet*/
